# Ejecución de documentos Quarto con Python
ipykernel==7.1.0
nbclient==0.10.4
nbformat==5.10.4
PyYAML==6.0.3

# Análisis y visualización
matplotlib==3.10.8
numpy==2.4.6
pandas==2.3.3
scikit-learn==1.8.0

# Aprendizaje profundo
torch==2.14.1